<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
		id="com.custom.settings"
        version="0.0.1">

  <name>CustomSettings</name>

  <engines>
    <engine name="cordova" version=">=4.0.0"/>
  </engines>

  <asset src="www/settings.js" target="js/settings.js"/>

  <js-module src="www/settings.js" name="settings">
    <clobbers target="settings" />
  </js-module>

  <platform name="android">
	
	<edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='io.mxapps.todo142.MyParts']" mode="merge">
		<activity android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
	</edit-config>
	
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SettingsPlugin">
        <param name="android-package" value="com.custom.settings.SettingsPlugin"/>
      </feature>
    </config-file>
	
	<config-file target="res/xml/config.xml" parent="/*">
		<preference name="FullScreen" value="false" />
		<preference name="ShowTitle" value="true" />
    </config-file>
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<activity android:name="com.custom.settings.SettingsActivity" android:label="Settings">
        </activity>
    </config-file>

    <source-file src="src/android/SettingsPlugin.java" target-dir="src/com/custom/settings/" />
	<source-file src="src/android/SettingsActivity.java" target-dir="src/com/custom/settings/" />
	<source-file src="src/android/SettingsFragment.java" target-dir="src/com/custom/settings/" />
	<source-file src="src/android/MenuDefinition.java" target-dir="src/com/custom/settings/" />
	
	<resource-file src="src/android/res" target="res" />
  </platform>
</plugin>